header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #2c3e50;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input[type="search"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 20px;
    outline: none;
}

.btn-notify {
    background-color: #fff;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

.btn-notify i {
    font-size: 18px;
    color: #2c3e50;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
           
.logout{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  gap: 10px;
  color: white;
}
.logout a{
  /* text-decoration: none; */
  color: white;
}
.btn-logout{
    background-color: #1abc9c; /* Red color for the logout button */
    color: white;              /* White text */
    border: none;              /* Remove default border */
    padding: 10px 12px;        /* Padding for the button */
    font-size: 14px;           /* Font size */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Cursor pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
    text-transform: uppercase; /* Uppercase text */
}

.btn-logout:hover {
    background-color: #d43f4a; /* Darker shade on hover */
     text-decoration: none;
}
.btn-logout a:hover {
    /* background-color: #d43f4a; Darker shade on hover */
     text-decoration: none;
}
